/* from class 08a lab assignment*/

* {
  box-sizing: border-box;
}

/*  */

#homebody {
  background-color: rgb(207, 197, 182);
}

header {
  background-color: rgb(133, 133, 133);
  height: 80px;
}

nav {
  width: 960px;
  height: 80px;
  margin: 0 auto;
  position: relative;
}

nav ul {
  display: inline-block;
  width: auto;
  position: relative;
  top: -1.4rem;
}

nav li {
  display: inline-block;
  font-size: 1.15rem;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: -0.25rem;
  margin-left: 1.5rem;
}

a#homepage {
  padding-top: 50px;
}

nav a {
  color: beige;
  text-decoration: none;
}

#homebody main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  width: 960px;
}

#homebody h1 {
  width: 960px;
  font-family: 'Fredericka the Great', cursive;
  font-size: 6rem;
  text-align: center;
  color: salmon;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  color:black
}

main img {
  margin-bottom: 30px;
}

div > a > img {
  border: 0.25rem solid black;
}

article {
  width: 450px;
}

h3 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.15rem;
  font-weight: 800;
}

article section {
  height: 275px;
  overflow: auto;
  margin-bottom: 10px;
  background-color: white;
}

section p {
  font-size: 1rem;
}

article>a {
  color: black;
  text-decoration: none;
  padding: 3px;
  background-color: rgb(133, 133, 133);
  margin: 2rem 0;
  border-width: 0.5rem;
  color: white;
}

article>a:hover {
  color: rgb(233, 132, 132);
  transition: 350ms;
}

#homefooter {
  background-color: rgb(133, 133, 133);
  height: 100px;
}

#homefooter>img {
  margin: 0 1rem;
}
#homefooter>ol {
  display: inline-block;
  font-size: medium;
}

ol>li {
  display: block;
  position: relative;
  top: -0.25rem;
  color: beige;
  font-size: 1rem;
}

#homefooter a {
  margin: 0;
  color: beige;
  text-decoration: none;
}

/*  Sales Page Styling  */

body.sales {
  background-color: rgb(207, 197, 182);
}

h1.sales {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  margin-bottom: 1rem;
  width: 960px;
  font-size: 3rem;
}

form {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;
  font-weight: 600;
}

ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
  width: 100%;
  background-color: rgb(133, 133, 133);
  color: black;
  font-weight: 525;
}

footer.sales a {
  font-size: 1.5rem;
  color: black;
}